<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Theory Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">

  {{!-- <style>
  body {
  background-image:url('https://unsplash.com/photos/iar-afB0QQw');
  background-repeat: no-repeat;
  background-position: right top;
  }
  </style> --}}

</head>

<body>
  {{!-- <img src="../../assets/images/094643.png"> --}}
  {{!-- <img class="backgrndimg" src="{{https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80}}"> --}}

  {{!-- <div id="t" style="display: box">
    <img class="someClass" src="{{../../assets/images/094643.png}}">
</div --}}

  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1 class="techhead">
        {{!-- <span role="img" aria-label="money"></span> --}}
        {{!-- This href="/" is taking me back to the mainpage --}}
        Tech Theory
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        <a href="/">Home</a>
        <a href="/profile">Dashboard</a>
        {{#if logged_in}}
        {{!-- <a href="/profile">Profile</a> | --}}
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
